/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    padding: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}


body {
    max-width: 1440px;
    margin: auto;
    
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 0 48px;
  gap: 33px;
    
}


a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.fa-solid {
    color: #0065FC;
  }
  
  .fa-xs {
    line-height: 0;
  }
  


.card {
    display: flex;
    border-radius: 22px;
    background-color: white;
    
  }
  
  .card__link {
    border-radius: 22px;
  }
  
  .card img {
    object-fit: cover;
  }
  
  .card__title {
    font-size: 16px;
    font-weight: 700px;
  }
  
  .card__subtitle {
    font-size: 14px;
  }
  
  .euro {
    font-weight: 600px;
  }
.neutral-star {
    color: #F2F2F2
}





/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  
  .hebergements,
  .populaires {
    background: #F2F2F2;
    display: flex;
    padding: 30px;
    border-radius: 15px;
    padding-top: 16px;
  }

/****** Hebergements ***********/
.hebergements {
    flex-direction: column;
    gap: 30px;
    width: 65%;
  }
  
  .hebergements .hebergment__card {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .hebergements .card__link {
    width: calc((1 / 3) * (100% - 60px));
  }
  
  .hebergements .card {
    flex-direction: column;
    height: 100%;
    gap: 4px;
    padding-bottom: 15px;
    
  }
  
  .hebergements img {
    height: 124px;
    width: 100%;
    border: 5px solid white;
    border-radius:  20px 20px 0 0;
  }
  
  .hebergements .card__content {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
  }
  
  .hebergements .card__rating {
    width: 80px;
    display: flex;
    justify-content: space-between;
    height: 14px;
  }

  .hebergement__title2:hover {
    color: #0065FC;
  }

  .card__rating{
    padding-top: 11px;
   
  }




/****** Populaires ***********/
.populaires {
    width: 32%;
    flex-direction: column;
    gap: 30px;
  }
  
  .populaires__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .populaires .cards__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }
  
  .populaires .card {
    flex-direction: row;
    width: 100%;
  }
  
  .populaires img {
    height: 146px;
    width: calc(100% / 3);
    border: 0.31rem solid white;
    border-radius: 20px 0 0 20px;
  }
  
  .populaires .card__content {
    width: calc(2 * 100% / 3);
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    padding-left: 15px;
    padding-right: 5px;
  }
  
  .populaires .card__rating {
    width: 68px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    margin-top: auto;
    margin-bottom: 5px;
  }
  
  .title__about {
    font-size: 18px;
  }





/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
        
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}




header {
    
   
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
    
    
    }




#Logo-Top {

    display: flex;
    width: 60px;
    height: 19px;
    margin-top: 40px;
    
    
   

    }

.Div-logo{
    
    width: 600px;
   
}






nav ul {

    display: flex;
    gap: 30px; 
    list-style: none;
  
    
    
    }

    nav{
        display: flex;
        align-items: start;
        
        
    }


.NavTop{
    display: inline-block;
    padding-top: 16px;
    
}

.NavTop:hover {

    
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 13.5px;
    
    
    
}

ul{
  
  margin-top: 0.1px;
}





   

.Description  {
    
     margin-bottom: 20px;
     margin-top: 30px;
    
     
    
}


h2,p {
    
    margin: 0;
    display: flex;
    justify-content: start;
    
}






main {
    display: flex;
    flex-direction: column;
    gap: 38px;
  }

  .Bar-R {

    display: flex;
    justify-content: flex-start;
    margin-top: 35px;
    
    
  }

  .Bar-R fieldset {
    display: flex;
    width: 50px;
    border: none;
    
  }
  
  .Bar-R {
    width: 0;
    text-align: center;
    border-top: 2px solid  #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
  }
  
  .Bar-R input::placeholder {
    width: 100%;
    font-weight: 700;
    font-size: larger;
    color: black;
    
   }
    
  
  .Bar-R i:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    width: 48px;
    height: 48px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
  }

  .Bar-Texte {
    display: flex;
    align-items: center;
    padding: 0 16px;
    color: white;
    font-weight: 700;
    border-radius: 0 15px 15px 0;
    background-color: #0065FC;
    border: none;
  }
  
  
input{

    border:1px solid #F2F2F2;
    text-align: center;
}





.filtre-block, .filtre_bar,
.filtre_bar-B {
  display: flex;
  gap: 14.88px
}

.filtre-block {
  
  
  align-items: center;
  margin-top: 24px ;
  
  
}

.filtre_titre {
  font-size: 17.92px;
  font-weight: 700;
}

.filtre_bar-BTN-txt {
  font-size: 17.92px;
  font-weight: 700;
}

.filtre_bar-BTN {
  display: flex;
  align-items: center;
  height: 49.92px;
  border: 2px solid  #F2F2F2;
  border-radius: 24.96px;
  padding: 0 19px;
}

.filtre_bar i.fa-solid {
  margin-right: 10px;
  font-size: 22px;
}

.filtre-B{
    display: flex;
    gap: 14.88px
  


}




.info {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 24px;
    margin-top: 35px;
    
  }
  
.info i {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    font-size: 10px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: 1px solid #DEEBFF;
  }


  .filtre-B :hover {
    background-color:  #DEEBFF;
    ;


  }





